<%= p.fields_for :tiers do |t| %>
  <li class="tiercard">
    <div class="tiernumber">
      <h4 class="inline threshold nopad">$ Threshold:<%= t.text_area :threshold %></h4>
    </div>
    <h5 class="remaining">Quantity:<%= t.text_area :initial_quantity%></h5>
    <p class="tiertext"><%= t.text_area :reward_text %></p>
    <button class="tierdelete">Remove this tier</button>
  </li>
<% end %>