// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#basic-info {
	height: 655px;
}

.right-align {
	float:right;
}

#user_avatar {
	width:340px;
}